/* You can add global styles to this file, and also import other style files */
@import '~node_modules/@angular/material/prebuilt-themes/magenta-violet.css';
@import './_variables.scss';


html, body {
  height: 100%;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
