:host {
    min-width: 200px;

    &:hover {
        cursor: pointer;

        mat-card {
            filter: brightness(140%);
        }
    }
}

.character-container {
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}
