.mat-mdc-progress-bar.mat-red {
  --mdc-linear-progress-active-indicator-color: #970000 !important;
}

.mat-mdc-progress-bar.mat-green {
  --mdc-linear-progress-active-indicator-color: #238a00 !important;
}

.mat-mdc-progress-bar.mat-blue {
  --mdc-linear-progress-active-indicator-color: #00397e !important;
}
